@media screen and (max-width: 767px) {
  .features-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features {
  display: flex;

  color: var(--primary-text-color);

  @media screen and (max-width: 767px) {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  .features-list {
    flex-basis: calc((100% - 2 * 30px) / 2);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1140px) and (max-width: 1199px) {
  .features-list {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-bottom: 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.features-icons {
  @extend %display-align;

  height: 120px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 0;
  }

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
