

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients-list-link {
  @extend %display-align;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-list {
  display: block;
  display: flex;

  @media screen and (max-width: 767px) {
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
    margin: 0;
    padding: 0;
  }
}

.clients-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);

    // margin-right: 30px;
    // margin-bottom: 30px;

    // &:not(:last-child) {
    //   margin-bottom: 0px;
    // }
  }
}

.clients-list-link {
  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
